/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f7fb;
  color: #2a2a2a; */
  background-image: url("imgs/whale_tile_s.png");
  background-repeat: repeat;
  /* background-attachment: fixed; */
}




/* NAV BAR */

.navbar {
  overflow: hidden;
  background-color: #1a3150;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  height: 50px;
  z-index:1000;
}

.navbar li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.button_logo {
  width: 20px; 
  height: 20px;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 50px;
}

/* .nav {
  height: 50px;
  list-style-type: none;
  max-width: 90%;
  margin: 0 auto 16px auto;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  background: #fff;
  text-align: center;
  padding: 14px 16px;
  margin-right: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  text-decoration: none;
}

.nav li a:hover {
  background-color: #f3f3f3;
} */



/* INTRO */

.intro {
  position: relative;
  border-radius: 0;
  background-color: #1a3150;
  padding: 20px 24px;
  margin-bottom: 10px;
  /* height: 200px; */
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: white;
  box-shadow: 0 2px 16px rgba(0,0,0,0.1); 
}

.intro h1 {
  font-size: 40px;
}

.intro-text {
  max-width: 1000px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 10px rgba(0,0,0,0.1);
  margin-right: 32px; 
  margin-left: 0;
  background: #fff;
}

/* .banner {
  background-color: #005f8f;
  text-align: center;
  padding: 0;
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */



/* CV BLOCKS */

.centered-block > section {
  max-width: 90%;
  margin: 32px auto;
  background: #ffffff;
  border: 1px solid #1a3150;
  box-shadow: 0 2px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px 24px;
  position: relative;
  /* z-index: 1; */
  display: block; /* Changed from flex to block */
}



/* CV COLLAPSIBLES */

.collapsible {
  margin-bottom: 0 !important;
  cursor: pointer;
  padding: 10px 24px !important;
  /* border-radius: 0 !important; */
}

.active, .collapsible:hover {
  background-color: #f7faff;
}

.collapsible h2 {
  color: #1a3150;
  border-bottom: 2px solid #1a3150;
  padding-bottom: 0.3em;
  margin-bottom: 1em;
}

.cv_content {
  max-width: 90%;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 2px 16px rgba(0,0,0,0.1);
  margin: 0px auto;
  background: #fff;
}

.edu-entry, .work-entry {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  border-bottom: 1px solid #E7E9EB;
}

.institution_logo {
  width: 100px;
  height: 70px;
  object-fit: contain;
  margin-right: 1em;
}

.cv_content a {
  color: #005f8f;
  text-decoration: none;
} 

.cv_content a:hover {
  text-decoration: underline;
}


/* CONTACT */

.contact {
  text-align: center;
  padding: 20px 24px;
  max-width: 90%;
  margin:auto;
  color: #0e3466;
}


/* Responsive adjustments */
/* @media (max-width: 600px) {
  .centered-block > section {
    padding: 12px 6px;
  }
  .intro {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-img {
    margin: 0 0 16px 0;
  }
  .intro-text {
    padding: 12px 8px;
  }
} */



 /* .collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) 
  font-size: 13px;
  color: white;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) 
} */

/* PUBLICATIONS ENTRIES */

.publication-list {
  max-width: 90%;
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.pub-entry {
  background: #fff;
  border-radius: 15px;
  border-color: #1a3150;
  border: 1px solid #1a3150;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px 40px;
  margin: 20px;
  width: 500px;
  /* height: 550px; */
  text-align: center;
  overflow: scroll;
  /* cursor: pointer; */
}

.pub-link {
  text-decoration: none;
  color: inherit;
}

.pub-entry h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #95a9c4;
}

.pub-entry:hover {
  border: 2px solid #1a3150;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.pub-abstract {
  font-size: 14px;
  width: 90%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 20px;
}

.pub-tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.pub-tags li {
  background: #c1cddd;
  border-radius: 4px;
  padding: 5px 8px;
  margin: 0 2px;
  font-size: 12px;
  display: inline-block;
}

.pub-links {
  display: block;
  margin: auto;
  /* justify-content: center;
  align-items: center; */
}

.pub-links li {
  /* overflow: hidden;
  background-color: #1a3150; */
  /* position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  height: 50px;
  z-index:1000; */
  /* display: flex; */
  font-size: 14px;
  display: inline-block;
  padding-bottom: 20px;
}

/* .pub-links li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

.pub-links a:hover {
  background: hsl(200, 19%, 85%);
  color: black;
}

.bib {
  font-size: 11px;
  text-align: left;
  background: hsl(214, 21%, 85%);
  border-radius: 4px;
  padding: 5px 5px;
}